name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Docker Login
      run: |
        docker login -u $DOCKER_USER -p $DOCKER_TOKEN
    
    - name: Build the Docker image
      run: |
        docker build . --file Dockerfile --tag chatgpt-discord-bot:v1

